/target/
.classpath
.project
.settings/
.idea/
.idea/*
.idea/**
tmc-cli.iml
/scripts/config*
/scripts/*.jar
**/config.properties
/**/build_log.txt
*/private/*
*/build/*
build/*
*/private/*
/config.properties
/scripts/config.properties
/**/test.properties
/**/build_log.*
/**/built-jar.*
/**/config
/**/*.properties
/testResources/successExercise/viikko1/Viikko1_001.Nimi/nbproject/private/
