body{
	background:black;
	color:white;

}

.gifbox {
	padding:1%;
}

.giff {
	width:50%;
	height:50%;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .giff {
  	width:90%;
  	height:90%;
  }
}
