body{
	background:black;
	color:white;

}

.box {
	padding:1%;
}

.giff {
	width:50%;
	height:50%;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .giff {
  	width:90%;
  	height:90%;
  }
}

ul
{
    list-style-type: none;
}

code{
	color:white;
	background:black;
}

